<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vendor Profile</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#detail">Dokumen</button>
                <h1>Vendor Profile</h1>
                <h3><%= parent.nama_vendor %></h3>
                <p>Status Verifikasi: <span class="badge <%= parent.status_verifikasi_id == 'bec6ed04-e967-4ce8-8865-e6285690174e' ? 'bg-success' : 'bg-warning' %> "><%= parent.status_verifikasi_id == 'bec6ed04-e967-4ce8-8865-e6285690174e' ? 'Terverifikasi' : 'Data Belum Terverifikasi' %></span></p>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="informasi-tab" data-bs-toggle="tab" data-bs-target="#informasi" type="button" role="tab" aria-controls="informasi" aria-selected="true">Informasi Vendor</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" class="nav-link" id="bank-tab" data-bs-toggle="tab" data-bs-target="#bank" type="button" role="tab" aria-controls="bank" aria-selected="true">Akun Bank</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" class="nav-link active" id="perpajakan-tab" data-bs-toggle="tab" data-bs-target="#perpajakan" type="button" role="tab" aria-controls="perpajakan" aria-selected="true">Perpajakan</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" class="nav-link active" id="legalitas-tab" data-bs-toggle="tab" data-bs-target="#legalitas" type="button" role="tab" aria-controls="legalitas" aria-selected="true">Legalitas</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="informasi" role="tabpanel" aria-labelledby="informasi-tab">
                        <div class="row">
                            <!-- <div class="col-12 mt-2">
                                <p>Status Verifikasi: <span class="badge bg-warning">Data Belum Lengkap</span></p>
                            </div> -->
                            <div class="col-md-6">
                                <h4>Informasi Vendor</h4>
                                <p>Kode Vendor: <%= parent.id %></p>
                                <p>Status Kantor: <%= parent.status_kantor %></p>
                                <p>Nama Direktur/Pemilik: <%= parent.nama_direktur %></p>
                                <p>Nomor Telepon Perusahaan: <%= parent.no_telp %></p>
                            </div>
                            <div class="col-md-6">
                                <h4>Email Perusahaan</h4>
                                <p>Email Perusahaan: <%= parent.email_perusahaan %></p>
                                <h4>Alamat Perusahaan</h4>
                                <p>Alamat Perusahaan: <%= parent.alamat_perusahaan %></p>
                                <p>Negara: <%= parent.negara %></p>
                                <p>Provinsi: <%= parent.nama_provinsi %></p>
                                <p>Kabupaten/Kota: <%= parent.nama_kk %></p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="bank" role="tabpanel" aria-labelledby="bank-tab">
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <h4>Akun Bank</h4>
                                <p>Nomor Rekening: <%= parent.no_rekening %></p>
                                <p>Nama Pemilik Rekening: <%= parent.nama_pemilik_rekening %></p>
                                <p>Nama Bank: <%= parent.nama_bank %></p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="perpajakan" role="tabpanel" aria-labelledby="perpajakan-tab">
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <h4>Informasi Perpajakan</h4>
                                <p>Nomor NPWP: <%= parent.no_npwp %></p>
                                <p>Status PKP: <%= parent.status_pkp %></p>
                                <p>SPPKP: <%= parent.nppkp %></p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="legalitas" role="tabpanel" aria-labelledby="legalitas-tab">
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <p>Nomor NIB RBA: <%= parent.no_nibrba %></p>
                                <p>Nomor KTP Direktur/Pemilik: <%= parent.no_ktp_direktur %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <button class="btn btn-primary">Update</button> -->
    </div>
    <div id="detail" class="modal fade modal-xl" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detail Dokumen</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- <form action="/approve-vendor" method="post"> -->
                    <div class="modal-body">
                        <div class="row flex-warp">
                            <div class="col-6 my-2">
                                <label class="form-label" for="ktpDirektur">KTP Direktur</label>
                                <div class="file-loading">
                                    <input id="ktpDirektur" name="ktpDirektur" type="file" accept="image/*">
                                </div>
                            </div>
                            <div class="col-6 my-2">
                                <label class="form-label" for="ktpKuasa">KTP Penerima Kuasa</label>
                                <div class="file-loading">
                                    <input id="ktpKuasa" name="ktpKuasa" type="file" accept="image/*">
                                </div>
                            </div>
                            <div class="col-6 my-2">
                                <label class="form-label" for="nirlaba">NIBRBA</label>
                                <div class="file-loading">
                                    <input id="nirlaba" name="nirlaba" type="file" accept="image/*">
                                </div>
                            </div>
                            <div class="col-6 my-2">
                                <label class="form-label" for="akta_pendirian">Akta Pendirian</label>
                                <div class="file-loading">
                                    <input id="akta_pendirian" name="akta_pendirian" type="file" accept="image/*">
                                </div>
                            </div>
                            <div class="col-6 my-2">
                                <label class="form-label" for="akta_perubahan">Akta Perubahan</label>
                                <div class="file-loading">
                                    <input id="akta_perubahan" name="akta_perubahan" type="file" accept="image/*">
                                </div>
                            </div>
                            <div class="col-6 my-2">
                                <label class="form-label" for="dokumen_ijin_lain">Dokumen Ijin Lain</label>
                                <div class="file-loading">
                                    <input id="dokumen_ijin_lain" name="dokumen_ijin_lain" type="file" accept="image/*">
                                </div>
                            </div>
                            <div class="col-6 my-2">
                                <label class="form-label" for="dokumen_npwp">Dokumen NPWP</label>
                                <div class="file-loading">
                                    <input id="dokumen_npwp" name="dokumen_npwp" type="file" accept="image/*">
                                </div>
                            </div>
                            <div class="col-6 my-2">
                                <label class="form-label" for="buku_akun_bank">Buku Akun Bank</label>
                                <div class="file-loading">
                                    <input id="buku_akun_bank" name="buku_akun_bank" type="file" accept="image/*">
                                </div>
                            </div>
                            <div class="col-6 my-2">
                                <label class="form-label" for="profil_perusahaan">Profil Perusahaan</label>
                                <div class="file-loading">
                                    <input id="profil_perusahaan" name="profil_perusahaan" type="file" accept="image/*">
                                </div>
                            </div>
                            <div class="col-6 my-2">
                                <label class="form-label" for="dokumen_ppkp">Dokumen PPKP</label>
                                <div class="file-loading">
                                    <input id="dokumen_ppkp" name="dokumen_ppkp" type="file" accept="image/*">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <!-- <input type="hidden" name="id" value="<%= parent.id %>">
                        <button type="submit" class="btn btn-primary">Save</button> -->
                    </div>
                </form>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>

<script>
    // INPUT
    <% 
    if(parent.status_verifikasi_id != "bec6ed04-e967-4ce8-8865-e6285690174e"){
    %>
    $("#ktpDirektur").fileinput({
        uploadUrl: "/upload-ktpDirektur",
        allowedFileExtensions: ["jpg", "png"],
        resizePreference: 'height',
        maxFileCount: 1,
        autoReplace: true,
        resizeImage: true,
        uploadAsync: true,
        <%
        if(parent.url_ktp_direktur){
        %>
        initialPreview: [
            // URL gambar yang ingin ditampilkan
            '<%= parent.url_ktp_direktur.replace(/\s+/g, '').replace(/\\/g, '/') %>',
            
            // ... URL gambar lainnya ...
        ],
        initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
        initialPreviewFileType: 'image', // image is the default and can be overridden in config below
        <%
        }
        %>
        
    }).on('filepreupload', function() {
        $('#kv-success-box').html('');
    }).on('fileuploaded', function(event, data) {
        $('#kv-success-box').append(data.response.link);
        $('#kv-success-modal').modal('show');
    });
    <%    
    }else{
    %>
    // APPROVED
        $("#ktpDirektur").fileinput({
            showClose: false,
            showBrowse: false,
            showCancel: false,
            showRemove: false,
            showUpload: false,
            sortable: false,
            showCaption: false,
            <%
            if(parent.url_ktp_direktur){
            %>
            initialPreview: [
                // URL gambar yang ingin ditampilkan
                '<%= parent.url_ktp_direktur.replace(/\s+/g, '').replace(/\\/g, '/') %>',
                
                // ... URL gambar lainnya ...
            ],
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image', // image is the default and can be overridden in config below
            <%
            }
            %>
            initialPreviewConfig: [
                {
                    // Menyembunyikan tombol remove
                    showRemove: false,
                    // Menyembunyikan tombol upload
                    showUpload: false,
                    // Menyembunyikan tombol zoom
                    showZoom: true,
                    showRotate: false,
                    // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                    showDownload: false,
                    showDrag: false,
                }
            ],
            fileActionSettings: {
                // Menyembunyikan tombol remove
                showRemove: false,
                // Menyembunyikan tombol upload
                showUpload: false,
                // Menyembunyikan tombol zoom
                showZoom: true,
                showRotate: false,
                // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                showDownload: false,
                // ... other file action settings ...
            },
        });
    <%
    }
    %>
    
    <% 
    if(parent.status_verifikasi_id != "bec6ed04-e967-4ce8-8865-e6285690174e"){
    %>
    $("#ktpKuasa").fileinput({
        uploadUrl: "/upload-ktpKuasa",
        allowedFileExtensions: ["jpg", "png"],
        resizePreference: 'height',
        maxFileCount: 1,
        autoReplace: true,
        resizeImage: true,
        uploadAsync: true,
        <%
        if(parent.url_ktp_penerima_kuasa){
        %>
        initialPreview: [
            // URL gambar yang ingin ditampilkan
            '<%= parent.url_ktp_penerima_kuasa.replace(/\s+/g, '').replace(/\\/g, '/') %>',
            
            // ... URL gambar lainnya ...
        ],
        initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
        initialPreviewFileType: 'image', // image is the default and can be overridden in config below
        <%
        }
        %>
        
    }).on('filepreupload', function() {
        $('#kv-success-box').html('');
    }).on('fileuploaded', function(event, data) {
        $('#kv-success-box').append(data.response.link);
        $('#kv-success-modal').modal('show');
    });
    <%    
    }else{
    %>
    // APPROVED
        $("#ktpKuasa").fileinput({
            showClose: false,
            showBrowse: false,
            showCancel: false,
            showRemove: false,
            showUpload: false,
            sortable: false,
            showCaption: false,
            <%
            if(parent.url_ktp_penerima_kuasa){
            %>
            initialPreview: [
                // URL gambar yang ingin ditampilkan
                '<%= parent.url_ktp_penerima_kuasa.replace(/\s+/g, '').replace(/\\/g, '/') %>',
                
                // ... URL gambar lainnya ...
            ],
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image', // image is the default and can be overridden in config below
            <%
            }
            %>
            initialPreviewConfig: [
                {
                    // Menyembunyikan tombol remove
                    showRemove: false,
                    // Menyembunyikan tombol upload
                    showUpload: false,
                    // Menyembunyikan tombol zoom
                    showZoom: true,
                    showRotate: false,
                    // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                    showDownload: false,
                    showDrag: false,
                }
            ],
            fileActionSettings: {
                // Menyembunyikan tombol remove
                showRemove: false,
                // Menyembunyikan tombol upload
                showUpload: false,
                // Menyembunyikan tombol zoom
                showZoom: true,
                showRotate: false,
                // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                showDownload: false,
                // ... other file action settings ...
            },
        });
    <%
    }
    %>
    
    <% 
    if(parent.status_verifikasi_id != "bec6ed04-e967-4ce8-8865-e6285690174e"){
    %>
    $("#nirlaba").fileinput({
        uploadUrl: "/upload-nirlaba",
        allowedFileExtensions: ["jpg", "png"],
        resizePreference: 'height',
        maxFileCount: 1,
        autoReplace: true,
        resizeImage: true,
        uploadAsync: true,
        <%
        if(parent.url_nibrba){
        %>
        initialPreview: [
            // URL gambar yang ingin ditampilkan
            '<%= parent.url_nibrba.replace(/\s+/g, '').replace(/\\/g, '/') %>',
            
            // ... URL gambar lainnya ...
        ],
        initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
        initialPreviewFileType: 'image', // image is the default and can be overridden in config below
        <%
        }
        %>
        
    }).on('filepreupload', function() {
        $('#kv-success-box').html('');
    }).on('fileuploaded', function(event, data) {
        $('#kv-success-box').append(data.response.link);
        $('#kv-success-modal').modal('show');
    });
    <%    
    }else{
    %>
    // APPROVED
        $("#nirlaba").fileinput({
            showClose: false,
            showBrowse: false,
            showCancel: false,
            showRemove: false,
            showUpload: false,
            sortable: false,
            showCaption: false,
            <%
            if(parent.url_nibrba){
            %>
            initialPreview: [
                // URL gambar yang ingin ditampilkan
                '<%= parent.url_nibrba.replace(/\s+/g, '').replace(/\\/g, '/') %>',
                
                // ... URL gambar lainnya ...
            ],
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image', // image is the default and can be overridden in config below
            <%
            }
            %>
            initialPreviewConfig: [
                {
                    // Menyembunyikan tombol remove
                    showRemove: false,
                    // Menyembunyikan tombol upload
                    showUpload: false,
                    // Menyembunyikan tombol zoom
                    showZoom: true,
                    showRotate: false,
                    // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                    showDownload: false,
                    showDrag: false,
                }
            ],
            fileActionSettings: {
                // Menyembunyikan tombol remove
                showRemove: false,
                // Menyembunyikan tombol upload
                showUpload: false,
                // Menyembunyikan tombol zoom
                showZoom: true,
                showRotate: false,
                // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                showDownload: false,
                // ... other file action settings ...
            },
        });
    <%
    }
    %>
    
    <% 
    if(parent.status_verifikasi_id != "bec6ed04-e967-4ce8-8865-e6285690174e"){
    %>
    $("#akta_pendirian").fileinput({
        uploadUrl: "/upload-akta_pendirian",
        allowedFileExtensions: ["jpg", "png"],
        resizePreference: 'height',
        maxFileCount: 1,
        autoReplace: true,
        resizeImage: true,
        uploadAsync: true,
        <%
        if(parent.url_akta_pendirian){
        %>
        initialPreview: [
            // URL gambar yang ingin ditampilkan
            '<%= parent.url_akta_pendirian.replace(/\s+/g, '').replace(/\\/g, '/') %>',
            
            // ... URL gambar lainnya ...
        ],
        initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
        initialPreviewFileType: 'image', // image is the default and can be overridden in config below
        <%
        }
        %>
        
    }).on('filepreupload', function() {
        $('#kv-success-box').html('');
    }).on('fileuploaded', function(event, data) {
        $('#kv-success-box').append(data.response.link);
        $('#kv-success-modal').modal('show');
    });
    <%    
    }else{
    %>
    // APPROVED
        $("#akta_pendirian").fileinput({
            showClose: false,
            showBrowse: false,
            showCancel: false,
            showRemove: false,
            showUpload: false,
            sortable: false,
            showCaption: false,
            <%
            if(parent.url_akta_pendirian){
            %>
            initialPreview: [
                // URL gambar yang ingin ditampilkan
                '<%= parent.url_akta_pendirian.replace(/\s+/g, '').replace(/\\/g, '/') %>',
                
                // ... URL gambar lainnya ...
            ],
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image', // image is the default and can be overridden in config below
            <%
            }
            %>
            initialPreviewConfig: [
                {
                    // Menyembunyikan tombol remove
                    showRemove: false,
                    // Menyembunyikan tombol upload
                    showUpload: false,
                    // Menyembunyikan tombol zoom
                    showZoom: true,
                    showRotate: false,
                    // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                    showDownload: false,
                    showDrag: false,
                }
            ],
            fileActionSettings: {
                // Menyembunyikan tombol remove
                showRemove: false,
                // Menyembunyikan tombol upload
                showUpload: false,
                // Menyembunyikan tombol zoom
                showZoom: true,
                showRotate: false,
                // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                showDownload: false,
                // ... other file action settings ...
            },
        });
    <%
    }
    %>
    
    <% 
    if(parent.status_verifikasi_id != "bec6ed04-e967-4ce8-8865-e6285690174e"){
    %>
    $("#akta_perubahan").fileinput({
        uploadUrl: "/upload-akta_perubahan",
        allowedFileExtensions: ["jpg", "png"],
        resizePreference: 'height',
        maxFileCount: 1,
        autoReplace: true,
        resizeImage: true,
        uploadAsync: true,
        <%
        if(parent.url_akta_perubahan){
        %>
        initialPreview: [
            // URL gambar yang ingin ditampilkan
            '<%= parent.url_akta_perubahan.replace(/\s+/g, '').replace(/\\/g, '/') %>',
            
            // ... URL gambar lainnya ...
        ],
        initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
        initialPreviewFileType: 'image', // image is the default and can be overridden in config below
        <%
        }
        %>
        
    }).on('filepreupload', function() {
        $('#kv-success-box').html('');
    }).on('fileuploaded', function(event, data) {
        $('#kv-success-box').append(data.response.link);
        $('#kv-success-modal').modal('show');
    });
    <%    
    }else{
    %>
    // APPROVED
        $("#akta_perubahan").fileinput({
            showClose: false,
            showBrowse: false,
            showCancel: false,
            showRemove: false,
            showUpload: false,
            sortable: false,
            showCaption: false,
            <%
            if(parent.url_akta_perubahan){
            %>
            initialPreview: [
                // URL gambar yang ingin ditampilkan
                '<%= parent.url_akta_perubahan.replace(/\s+/g, '').replace(/\\/g, '/') %>',
                
                // ... URL gambar lainnya ...
            ],
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image', // image is the default and can be overridden in config below
            <%
            }
            %>
            initialPreviewConfig: [
                {
                    // Menyembunyikan tombol remove
                    showRemove: false,
                    // Menyembunyikan tombol upload
                    showUpload: false,
                    // Menyembunyikan tombol zoom
                    showZoom: true,
                    showRotate: false,
                    // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                    showDownload: false,
                    showDrag: false,
                }
            ],
            fileActionSettings: {
                // Menyembunyikan tombol remove
                showRemove: false,
                // Menyembunyikan tombol upload
                showUpload: false,
                // Menyembunyikan tombol zoom
                showZoom: true,
                showRotate: false,
                // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                showDownload: false,
                // ... other file action settings ...
            },
        });
    <%
    }
    %>
    
    <% 
    if(parent.status_verifikasi_id != "bec6ed04-e967-4ce8-8865-e6285690174e"){
    %>
    $("#dokumen_ijin_lain").fileinput({
        uploadUrl: "/upload-dokumen_ijin_lain",
        allowedFileExtensions: ["jpg", "png"],
        resizePreference: 'height',
        maxFileCount: 1,
        autoReplace: true,
        resizeImage: true,
        uploadAsync: true,
        <%
        if(parent.url_dokumen_ijin_lain){
        %>
        initialPreview: [
            // URL gambar yang ingin ditampilkan
            '<%= parent.url_dokumen_ijin_lain.replace(/\s+/g, '').replace(/\\/g, '/') %>',
            
            // ... URL gambar lainnya ...
        ],
        initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
        initialPreviewFileType: 'image', // image is the default and can be overridden in config below
        <%
        }
        %>
        
    }).on('filepreupload', function() {
        $('#kv-success-box').html('');
    }).on('fileuploaded', function(event, data) {
        $('#kv-success-box').append(data.response.link);
        $('#kv-success-modal').modal('show');
    });
    <%    
    }else{
    %>
    // APPROVED
        $("#dokumen_ijin_lain").fileinput({
            showClose: false,
            showBrowse: false,
            showCancel: false,
            showRemove: false,
            showUpload: false,
            sortable: false,
            showCaption: false,
            <%
            if(parent.url_dokumen_ijin_lain){
            %>
            initialPreview: [
                // URL gambar yang ingin ditampilkan
                '<%= parent.url_dokumen_ijin_lain.replace(/\s+/g, '').replace(/\\/g, '/') %>',
                
                // ... URL gambar lainnya ...
            ],
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image', // image is the default and can be overridden in config below
            <%
            }
            %>
            initialPreviewConfig: [
                {
                    // Menyembunyikan tombol remove
                    showRemove: false,
                    // Menyembunyikan tombol upload
                    showUpload: false,
                    // Menyembunyikan tombol zoom
                    showZoom: true,
                    showRotate: false,
                    // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                    showDownload: false,
                    showDrag: false,
                }
            ],
            fileActionSettings: {
                // Menyembunyikan tombol remove
                showRemove: false,
                // Menyembunyikan tombol upload
                showUpload: false,
                // Menyembunyikan tombol zoom
                showZoom: true,
                showRotate: false,
                // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                showDownload: false,
                // ... other file action settings ...
            },
        });
    <%
    }
    %>
    
    <% 
    if(parent.status_verifikasi_id != "bec6ed04-e967-4ce8-8865-e6285690174e"){
    %>
    $("#dokumen_npwp").fileinput({
        uploadUrl: "/upload-dokumen_npwp",
        allowedFileExtensions: ["jpg", "png"],
        resizePreference: 'height',
        maxFileCount: 1,
        autoReplace: true,
        resizeImage: true,
        uploadAsync: true,
        <%
        if(parent.url_dokumen_npwp){
        %>
        initialPreview: [
            // URL gambar yang ingin ditampilkan
            '<%= parent.url_dokumen_npwp.replace(/\s+/g, '').replace(/\\/g, '/') %>',
            
            // ... URL gambar lainnya ...
        ],
        initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
        initialPreviewFileType: 'image', // image is the default and can be overridden in config below
        <%
        }
        %>
        
    }).on('filepreupload', function() {
        $('#kv-success-box').html('');
    }).on('fileuploaded', function(event, data) {
        $('#kv-success-box').append(data.response.link);
        $('#kv-success-modal').modal('show');
    });
    <%    
    }else{
    %>
    // APPROVED
        $("#dokumen_npwp").fileinput({
            showClose: false,
            showBrowse: false,
            showCancel: false,
            showRemove: false,
            showUpload: false,
            sortable: false,
            showCaption: false,
            <%
            if(parent.url_dokumen_npwp){
            %>
            initialPreview: [
                // URL gambar yang ingin ditampilkan
                '<%= parent.url_dokumen_npwp.replace(/\s+/g, '').replace(/\\/g, '/') %>',
                
                // ... URL gambar lainnya ...
            ],
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image', // image is the default and can be overridden in config below
            <%
            }
            %>
            initialPreviewConfig: [
                {
                    // Menyembunyikan tombol remove
                    showRemove: false,
                    // Menyembunyikan tombol upload
                    showUpload: false,
                    // Menyembunyikan tombol zoom
                    showZoom: true,
                    showRotate: false,
                    // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                    showDownload: false,
                    showDrag: false,
                }
            ],
            fileActionSettings: {
                // Menyembunyikan tombol remove
                showRemove: false,
                // Menyembunyikan tombol upload
                showUpload: false,
                // Menyembunyikan tombol zoom
                showZoom: true,
                showRotate: false,
                // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                showDownload: false,
                // ... other file action settings ...
            },
        });
    <%
    }
    %>
    
    <% 
    if(parent.status_verifikasi_id != "bec6ed04-e967-4ce8-8865-e6285690174e"){
    %>
    $("#buku_akun_bank").fileinput({
        uploadUrl: "/upload-buku_akun_bank",
        allowedFileExtensions: ["jpg", "png"],
        resizePreference: 'height',
        maxFileCount: 1,
        autoReplace: true,
        resizeImage: true,
        uploadAsync: true,
        <%
        if(parent.url_buku_akun_bank){
        %>
        initialPreview: [
            // URL gambar yang ingin ditampilkan
            '<%= parent.url_buku_akun_bank.replace(/\s+/g, '').replace(/\\/g, '/') %>',
            
            // ... URL gambar lainnya ...
        ],
        initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
        initialPreviewFileType: 'image', // image is the default and can be overridden in config below
        <%
        }
        %>
        
    }).on('filepreupload', function() {
        $('#kv-success-box').html('');
    }).on('fileuploaded', function(event, data) {
        $('#kv-success-box').append(data.response.link);
        $('#kv-success-modal').modal('show');
    });
    <%    
    }else{
    %>
    // APPROVED
        $("#buku_akun_bank").fileinput({
            showClose: false,
            showBrowse: false,
            showCancel: false,
            showRemove: false,
            showUpload: false,
            sortable: false,
            showCaption: false,
            <%
            if(parent.url_buku_akun_bank){
            %>
            initialPreview: [
                // URL gambar yang ingin ditampilkan
                '<%= parent.url_buku_akun_bank.replace(/\s+/g, '').replace(/\\/g, '/') %>',
                
                // ... URL gambar lainnya ...
            ],
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image', // image is the default and can be overridden in config below
            <%
            }
            %>
            initialPreviewConfig: [
                {
                    // Menyembunyikan tombol remove
                    showRemove: false,
                    // Menyembunyikan tombol upload
                    showUpload: false,
                    // Menyembunyikan tombol zoom
                    showZoom: true,
                    showRotate: false,
                    // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                    showDownload: false,
                    showDrag: false,
                }
            ],
            fileActionSettings: {
                // Menyembunyikan tombol remove
                showRemove: false,
                // Menyembunyikan tombol upload
                showUpload: false,
                // Menyembunyikan tombol zoom
                showZoom: true,
                showRotate: false,
                // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                showDownload: false,
                // ... other file action settings ...
            },
        });
    <%
    }
    %>
    
    <% 
    if(parent.status_verifikasi_id != "bec6ed04-e967-4ce8-8865-e6285690174e"){
    %>
    $("#profil_perusahaan").fileinput({
        uploadUrl: "/upload-profil_perusahaan",
        allowedFileExtensions: ["jpg", "png"],
        resizePreference: 'height',
        maxFileCount: 1,
        autoReplace: true,
        resizeImage: true,
        uploadAsync: true,
        <%
        if(parent.url_profil_perusahaan){
        %>
        initialPreview: [
            // URL gambar yang ingin ditampilkan
            '<%= parent.url_profil_perusahaan.replace(/\s+/g, '').replace(/\\/g, '/') %>',
            
            // ... URL gambar lainnya ...
        ],
        initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
        initialPreviewFileType: 'image', // image is the default and can be overridden in config below
        <%
        }
        %>
        
    }).on('filepreupload', function() {
        $('#kv-success-box').html('');
    }).on('fileuploaded', function(event, data) {
        $('#kv-success-box').append(data.response.link);
        $('#kv-success-modal').modal('show');
    });
    <%    
    }else{
    %>
    // APPROVED
        $("#profil_perusahaan").fileinput({
            showClose: false,
            showBrowse: false,
            showCancel: false,
            showRemove: false,
            showUpload: false,
            sortable: false,
            showCaption: false,
            <%
            if(parent.url_profil_perusahaan){
            %>
            initialPreview: [
                // URL gambar yang ingin ditampilkan
                '<%= parent.url_profil_perusahaan.replace(/\s+/g, '').replace(/\\/g, '/') %>',
                
                // ... URL gambar lainnya ...
            ],
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image', // image is the default and can be overridden in config below
            <%
            }
            %>
            initialPreviewConfig: [
                {
                    // Menyembunyikan tombol remove
                    showRemove: false,
                    // Menyembunyikan tombol upload
                    showUpload: false,
                    // Menyembunyikan tombol zoom
                    showZoom: true,
                    showRotate: false,
                    // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                    showDownload: false,
                    showDrag: false,
                }
            ],
            fileActionSettings: {
                // Menyembunyikan tombol remove
                showRemove: false,
                // Menyembunyikan tombol upload
                showUpload: false,
                // Menyembunyikan tombol zoom
                showZoom: true,
                showRotate: false,
                // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                showDownload: false,
                // ... other file action settings ...
            },
        });
    <%
    }
    %>
    
    <% 
    if(parent.status_verifikasi_id != "bec6ed04-e967-4ce8-8865-e6285690174e"){
    %>
    $("#dokumen_ppkp").fileinput({
        uploadUrl: "/upload-dokumen_ppkp",
        allowedFileExtensions: ["jpg", "png"],
        resizePreference: 'height',
        maxFileCount: 1,
        autoReplace: true,
        resizeImage: true,
        uploadAsync: true,
        <%
        if(parent.url_dokumen_ppkp){
        %>
        initialPreview: [
            // URL gambar yang ingin ditampilkan
            '<%= parent.url_dokumen_ppkp.replace(/\s+/g, '').replace(/\\/g, '/') %>',
            
            // ... URL gambar lainnya ...
        ],
        initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
        initialPreviewFileType: 'image', // image is the default and can be overridden in config below
        <%
        }
        %>
        
    }).on('filepreupload', function() {
        $('#kv-success-box').html('');
    }).on('fileuploaded', function(event, data) {
        $('#kv-success-box').append(data.response.link);
        $('#kv-success-modal').modal('show');
    });
    <%    
    }else{
    %>
    // APPROVED
        $("#dokumen_ppkp").fileinput({
            showClose: false,
            showBrowse: false,
            showCancel: false,
            showRemove: false,
            showUpload: false,
            sortable: false,
            showCaption: false,
            <%
            if(parent.url_dokumen_ppkp){
            %>
            initialPreview: [
                // URL gambar yang ingin ditampilkan
                '<%= parent.url_dokumen_ppkp.replace(/\s+/g, '').replace(/\\/g, '/') %>',
                
                // ... URL gambar lainnya ...
            ],
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image', // image is the default and can be overridden in config below
            <%
            }
            %>
            initialPreviewConfig: [
                {
                    // Menyembunyikan tombol remove
                    showRemove: false,
                    // Menyembunyikan tombol upload
                    showUpload: false,
                    // Menyembunyikan tombol zoom
                    showZoom: true,
                    showRotate: false,
                    // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                    showDownload: false,
                    showDrag: false,
                }
            ],
            fileActionSettings: {
                // Menyembunyikan tombol remove
                showRemove: false,
                // Menyembunyikan tombol upload
                showUpload: false,
                // Menyembunyikan tombol zoom
                showZoom: true,
                showRotate: false,
                // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                showDownload: false,
                // ... other file action settings ...
            },
        });
    <%
    }
    %>
    

    
</script>
</html>