<!DOCTYPE html>
<html lang="en">
<head>
    <title>Daftar Pengadaan Vendor</title>
    <%- include('partials/head.ejs') %>
    <%- include('partials/style.ejs') %> 
    <style>
        .alert {
            color: #856404;
            background-color: #fff3cd;
            border-color: #ffeeba;
        }
    </style>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h1>Daftar Pengadaan</h1>
                <p>Informasi daftar pengadaan</p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table dataTables">
                        <thead>
                            <tr>
                                <th>Nomor Procurement</th>
                                <th>Nama Pengadaan</th>
                                <th>Tanggal Permintaan</th>
                                <th>Jenis Pengadaan</th>
                                <th>Jenis Pemilihan</th>
                                <th>Jenis Vendor</th>
                                <th>Status</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(pengadaan.length > 0){
                                pengadaan.forEach(function(pengadaan) { %>
                                <tr>
                                    <td><%= pengadaan.pengadaan_id %></td>
                                    <td><%= pengadaan.nama_pengadaan %></td>
                                    <td><%= pengadaan.tanggal_permintaan || "-"  %></td>
                                    <td><%= pengadaan.nama_jenis_pengadaan || "-" %></td>
                                    <td><%= pengadaan.nama_tipe_pemilihan || "-" %></td>
                                    <td><%= pengadaan.nama_jenis_vendor || "-" %></td>
                                    <td><%= pengadaan.nama_status %></td>
                                    <td>
                                        <form action="<%= pengadaan.status_id != 'ae00536a-78c1-42e7-af53-ebe6cd68903d' ? '/informasi-pengadaan-approved' : '/informasi-pengadaan' %>" method="get">
                                            <input type="hidden" name="id" value="<%= pengadaan.pengadaan_id %>">
                                            <button class="btn btn-orange" type="submit">Detail</button>
                                        </form>
                                    </td>
                                </tr>
                            <% });
                            }else{ %>
                                <tr>
                                    <td colspan="10">No Data</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        function filterByStatus() {
            const statusId = document.getElementById('filter-status').value;
            const url = statusId ? `/daftar-pengadaan/status/${statusId}` : '/daftar-pengadaan';
            window.location.href = url;
        }
    </script>
<%- include('partials/footer.ejs') %>
</html>
