<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Pengadaan Vendor</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container mt-4">
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h1>Daftar Pengadaan</h1>
                        <p>Informasi daftar pengadaan</p>
                    </div>
                    <div class="col d-flex justify-content-end align-items-center">
                        <form action="buat-pengadaan" method="get">
                            <button type="submit" class="btn btn-primary">Tambah Pengadaan</button>        
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table dataTables">
                        <thead>
                            <tr>
                                <th>Nomor Procurement</th>
                                <th>Nama Pengadaan</th>
                                <th>Tanggal Permintaan</th>
                                <th>Tanggal Mulai</th>
                                <th>Tanggal Selesai</th>
                                <th>Jenis Pengadaan</th>
                                <th>Jenis Pemilihan</th>
                                <th>Jenis Vendor</th>
                                <th>Status</th>
                                <th>Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% pengadaan.forEach(function(pengadaan) { %>
                            <tr>
                                <td><%= pengadaan.pengadaan_id %></td>
                                <td><%= pengadaan.nama_pengadaan %></td>
                                <td><%= pengadaan.tanggal_permintaan || "-"  %></td>
                                <td><%= pengadaan.tanggal_pemilihan || "-"  %></td>
                                <td><%= pengadaan.tanggal_pemilihan_selesai || "-"  %></td>
                                <td><%= pengadaan.nama_jenis_pengadaan || "-" %></td>
                                <td><%= pengadaan.nama_tipe_pemilihan || "-" %></td>
                                <td><%= pengadaan.nama_jenis_vendor || "-" %></td>
                                <td><%= pengadaan.nama_status %></td>
                                <td>
                                    <button class="btn btn-orange" onclick="location.href='informasi-pengadaan-previous/<%= pengadaan.pengadaan_id %>'">Detail</button>                    
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        function filterByStatus() {
            const statusId = document.getElementById('filter-status').value;
            const url = statusId ? `/daftar-pengadaan/status/${statusId}` : '/daftar-pengadaan';
            window.location.href = url;
        }
    </script>
<%- include('partials/footer.ejs') %>
</html>