<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <%- include('partials/style.ejs') %>
    <title>Vendor Portal</title>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h1>PORTAL VENDOR</h1>
                <p>Selamat Datang, <%= parent.nama_vendor %></p>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        Pengadaan Aktif
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">NAMA PENGADAAN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% pengadaan.forEach(e => { %>
                                    <tr>
                                        <td><%= e.pengadaan_id %></td>
                                        <td><%= e.nama_pengadaan %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>
</html>