<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Admin Portal</title>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h1>PORTAL ADMIN</h1>
                <p>Selamat Datang, <%= parent.first_name %></p>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        Vendor Terbaik
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">NO.</th>
                                    <th scope="col">NAMA VENDOR</th>
                                    <th scope="col">JUMLAH PENGADAAN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% terbaik.forEach((e, i) => { %>
                                    <tr>
                                        <td><%= i+1 %></td>
                                        <td><%= e.nama_vendor %></td>
                                        <td class="qty"><%= e.total %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>
</html>