<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <title>Admin Portal</title>
</head>

<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h1>PORTAL ADMIN</h1>
                <p>Selamat Datang, <%= parent.first_name %></p>
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        Kalender Pengadaan
                    </div>
                    <div class="card-body">
                        <div id='calendar'></div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-header">
                        Vendor Terbaik
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">NO.</th>
                                    <th scope="col">NAMA VENDOR</th>
                                    <th scope="col">JUMLAH PENGADAAN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% terbaik.forEach((e, i) => { %>
                                    <tr>
                                        <td><%= i+1 %></td>
                                        <td><%= e.nama_vendor %></td>
                                        <td class="qty"><%= e.total %></td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const eventDate = new Date('2024-06-26'); // Buat objek Date dengan tanggal yang diinginkan
            // const eventData = {
            //     title: 'Acara Spesial',
            //     start: eventDate, // Tanggal mulai acara
            //     // ... tambahkan properti lain sesuai kebutuhan
            // };

            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                themeSystem: 'bootstrap5',
                initialView: 'dayGridMonth',
                events: [
                    <% pengadaan.forEach(e => { %>
                    <% if(e.tanggal_pemilihan && e.tanggal_pemilihan_selesai){ %>
                    {
                        title: '<%= e.nama_pengadaan %>',
                        start: '<%= moment(e.tanggal_pemilihan).format("YYYY-MM-DD") %>', // Start date (ISO format)
                        end: '<%= moment(e.tanggal_pemilihan_selesai).format("YYYY-MM-DD") %>' // Start date (ISO format)
                    },
                    <% } %>
                    <% }) %>
                    // You can add more events here if needed
                ]
            });
            calendar.render();
        });
    </script>
<%- include('partials/footer.ejs') %>
</html>