<head>
    <meta charset="UTF-8">
    <title>Vendor Scoring</title>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/sidebar.ejs') %>
        <div class="container p-4">
            <h2>Vendor Scoring</h2>
            <p>Scoring vendor berdasarkan hasil pengadaan</p>
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Detail Vendor</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label>Nama Perusahaan</label>
                            <input class="form-control" type="text" placeholder="PT. Vendoria Sejahtera" readonly value="<%= vendor.nama_vendor %>">
                        </div>
                        <div class="col">
                            <label>Nomor Pengadaan</label>
                            <input class="form-control" type="text" placeholder="MML-AX-001" readonly value="<%= pengadaan_id %>">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5>Kriteria Teknikal</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label for="nama-kriteria">Nama Template</label>
                                        <input class="form-control" type="text" id="teknikal-kriteria" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="bobot-kriteria">Bobot</label>
                                        <input class="form-control qtyPercent" type="text" id="teknikal-bobot" onchange="calculateScore(1)" placeholder="0-100%" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8">
                                    <p>KUALITAS / SPESIFIKASI</p>
                                </div>
                                <div class="col">
                                    <input class="form-control qty" type="text" id="bobot-kualitas" onchange="calculateScore(1)" placeholder="1-5" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8">
                                    <p>LEAD TIME</p>
                                </div>
                                <div class="col">
                                    <input class="form-control qty" type="text" id="bobot-lead-time" onchange="calculateScore(1)" placeholder="1-5" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8">
                                    <p>TECHNICAL SCORE</p>
                                </div>
                                <div class="col">
                                    <input style="background-color: #FCE2D3;" class="form-control qty" type="text" id="bobot-technical-score" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5>Kriteria Komersil</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="form-group">
                                        <label for="nama-kriteria">Nama Template</label>
                                        <input class="form-control" type="text" id="komersil-kriteria" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="bobot-kriteria">Bobot</label>
                                        <input class="form-control qtyPercent" onchange="calculateScore(2)" placeholder="0-100%" type="text" id="komersil-bobot" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8">
                                    <p>CREDIT SCORE</p>
                                </div>
                                <div class="col">
                                    <input class="form-control qty" onchange="calculateScore(2)" placeholder="1-5" type="text" id="bobot-credit" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8">
                                    <p>HARGA</p>
                                </div>
                                <div class="col">
                                    <input class="form-control qty" onchange="calculateScore(2)" placeholder="1-5" type="text" id="bobot-harga" required>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8">
                                    <p>COMMERCIAL SCORE</p>
                                </div>
                                <div class="col">
                                    <input style="background-color: #FCE2D3;" class="form-control qty" type="text" id="bobot-commercial-score" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h5>User Opinion</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label>Admin Divisi</label>
                            <textarea class="form-control" type="text" placeholder="Opini Admin Divisi" ></textarea>
                        </div>
                        <div class="col">
                            <label>Admin Purchasing</label>
                            <textarea class="form-control" type="text" placeholder="Opini Admin Purchasing"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Hasil Akhir</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <label>FINAL SCORE</label>
                        </div>
                        <div class="col-2">
                            <input style="background-color: #FCE2D3;" class="form-control qty" type="text" id="final-score" readonly>
                        </div>
                        <button type="submit" class="col-6 btn btn-orange">Submit Scoring</button>
                    </div>
                </div>
            </div>
        </div>
    <%- include('partials/footer.ejs') %>
    <script>
        function calculateScore(type){
            switch(type){
                case 1:
                    var bobot = parseFloat(initAutoNumeric('#teknikal-bobot', "qtyPercent").getNumericString()) || 0
                    var val1 = parseFloat(initAutoNumeric('#bobot-kualitas', "qty").getNumericString()) || 0
                    var val2 = parseFloat(initAutoNumeric('#bobot-lead-time', "qty").getNumericString()) || 0
                    var score = initAutoNumeric('#bobot-technical-score', "qty")

                    score.set((val1+val2)*bobot/100)
                    break;
                case 2:
                    var bobot = parseFloat(initAutoNumeric('#komersil-bobot', "qtyPercent").getNumericString()) || 0
                    var val1 = parseFloat(initAutoNumeric('#bobot-credit', "qty").getNumericString()) || 0
                    var val2 = parseFloat(initAutoNumeric('#bobot-harga', "qty").getNumericString()) || 0
                    var score = initAutoNumeric('#bobot-commercial-score', "qty")

                    score.set((val1+val2)*bobot/100)
                    break;
            }

            calculateFinalScore()
        }

        function calculateFinalScore() {
            var val1 = parseFloat(initAutoNumeric('#bobot-commercial-score', "qty").getNumericString()) || 0
            var val2 = parseFloat(initAutoNumeric('#bobot-technical-score', "qty").getNumericString()) || 0
            var score = initAutoNumeric('#final-score', "qty")

            score.set(val1+val2)
        }
    </script>
</body>