<head>
    <meta charset="UTF-8">
    <title>Vendor Scoring</title>
    <%- include('partials/head.ejs') %>
</head>

<body>
    <%- include('partials/sidebar.ejs') %>
    <% 
    const condition = vendorS.approve_division || vendorS.approve_department || vendorS.approve_presdir;
    %>
        <div class="container p-4">
            <h2>Vendor Scoring</h2>
            <p>Scoring vendor berdasarkan hasil pengadaan</p>
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Detail Vendor</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <label>Nama Perusahaan</label>
                            <input class="form-control" type="text" placeholder="PT. Vendoria Sejahtera" disabled value="<%= vendor.nama_vendor %>">
                        </div>
                        <div class="col">
                            <label>Nomor Pengadaan</label>
                            <input class="form-control" type="text" placeholder="MML-AX-001" disabled value="<%= pengadaan_id %>">
                        </div>
                    </div>
                </div>
            </div>
            <form action="/form-vendor-scoring" method="post">
                <input type="hidden" name="pengadaan_id" value="<%= pengadaan_id %>">
                <input type="hidden" name="vendor_id" value="<%= vendor.id %>">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="card h-100">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5>Kriteria Teknikal</h5>
                                    </div>
                                    <div class="col">
                                        <button type="button" onclick="tambahCard('teknikal')" class="btn btn-<%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174001' && condition ? 'disabled' : 'primary' %> float-end" <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174001' && condition ? 'disabled' : '' %>>Tambah</button>
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="card-body" id="teknikal">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Bobot</span>
                                            <input class="form-control qtyPercent bobot m-0" onchange="calculateScore(1)" placeholder="0-100%" type="text" name="bobot_teknikal" id="teknikal-bobot" required <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174001' && condition ? 'disabled' : '' %> value="<%= vendorS.bobot_teknikal %>">
                                        </div>
                                    </div>
                                </div>
                                <% var total = 0 %>
                                <% vendorSD.forEach((sd, i) => { %>
                                    <% if (sd.type == 1) { %>
                                        <% total += parseFloat(sd.score1) + parseFloat(sd.score2) %>
                                        <div class="card mb-3" id="teknikal-<%= i+1 %>">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <div class="form-group">
                                                            <label for="nama-kriteria">Nama Template</label>
                                                            <input class="form-control template" onchange="getTemplate(this)" type="text" name="nama_template[1][]" id="teknikal-template-<%= i+1 %>" list="dlTemplate" required <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174001' && condition ? 'disabled' : '' %> value="<%= sd.nama_template %>">
                                                            <input type="hidden" id="teknikal-templateid-<%= i+1 %>" name="template_id[1][]" value="<%= sd.template_vs_id %>">
                                                        </div>
                                                    </div>
                                                    <div class="col-3 text-center align-content-center">
                                                        Score
                                                    </div>
                                                    <div class="col">
                                                        <% if (parent.role_id == '123e4567-e89b-12d3-a456-426614174001') { %>
                                                            <button type="button" onclick="delCard('teknikal-<%= i+1 %>')" class="btn float-end p-0"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="m6.4 18.308l-.708-.708l5.6-5.6l-5.6-5.6l.708-.708l5.6 5.6l5.6-5.6l.708.708l-5.6 5.6l5.6 5.6l-.708.708l-5.6-5.6z"/></svg></button>
                                                        <% } %>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label for="my-input">Description</label>
                                                            <textarea class="form-control" name="deskripsi_template[1][]" id="teknikal-desc-<%= i+1 %>" <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174001' && condition ? 'disabled' : 'readonly' %>><%= sd.deskripsi_template %></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <% console.table(detailVS[sd.template_vs_id]) %>
                                                        <input class="form-control kriteria" id="teknikal-kriteria-<%= i+1 %>" name="kriteria[1][]" type="text" <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174001' && condition ? 'disabled' : 'readonly' %> value="<%= detailVS[sd.template_vs_id].nama_kriteria %>">
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control qty teknikal-bobot" onchange="calculateScore(1)" placeholder="1-5" name="score1[1][]" type="text" id="teknikal-bobot-<%= i+1 %>" required <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174001' && condition ? 'disabled' : '' %> value="<%= sd.score1 %>">
                                                    </div>
                                                </div>
                    
                                                <div class="row">
                                                    <div class="col-8">
                                                        <input class="form-control subKriteria" id="teknikal-subkriteria-<%= i+1 %>" name="subKriteria[1][]" type="text" <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174001' && condition ? 'disabled' : 'readonly' %> value="<%= detailVS[sd.template_vs_id].nama_sub_kriteria %>">
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control qty teknikal-bobot" onchange="calculateScore(1)" placeholder="1-5" name="score2[1][]" type="text" id="teknikal-bobot2-<%= i+1 %>" required <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174001' && condition ? 'disabled' : '' %> value="<%= sd.score2 %>">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                <% }) %>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-8">
                                        <p>TECHNICAL SCORE</p>
                                    </div>
                                    <div class="col">
                                        <input style="background-color: #FCE2D3;" class="form-control qty score" type="text" id="bobot-technical-score" disabled value="<%= total*vendorS.bobot_teknikal/100 %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card h-100">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5>Kriteria Komersil</h5>
                                    </div>
                                    <div class="col">
                                        <button type="button" onclick="tambahCard('komersil')" class="btn btn-<%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174002' ? 'disabled' : 'primary' %> float-end" <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174002' ? 'disabled' : '' %>>Tambah</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" id="komersil">
                                <div class="row">
                                    <div class="col">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Bobot</span>
                                            <input class="form-control qtyPercent bobot m-0" onchange="calculateScore(2)" placeholder="0-100%" type="text" id="komersil-bobot" name="bobot_komersial" required <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174002' ? 'disabled' : '' %> value="<%= vendorS.bobot_komersial %>">
                                        </div>
                                    </div>
                                </div>
                                <% var total2 = 0 %>
                                <% vendorSD.forEach((sd, i) => { %>
                                    <% if (sd.type == 2) { %>
                                        <% total2 += parseFloat(sd.score1) + parseFloat(sd.score2) %>
                                        <div class="card mb-3" id="komersil-<%= i+1 %>">
                                            <div class="card-header">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <div class="form-group">
                                                            <label for="nama-kriteria">Nama Template</label>
                                                            <input class="form-control template" onchange="getTemplate(this)" type="text" name="nama_template[2][]" id="komersil-template-<%= i+1 %>" list="dlTemplate" required <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174002' ? 'disabled' : '' %> value="<%= sd.nama_template %>"">
                                                            <input type="hidden" id="komersil-templateid-<%= i+1 %>" name="template_id[2][]" value="<%= sd.template_vs_id %>">
                                                        </div>
                                                    </div>
                                                    <div class="col-3 text-center align-content-center">
                                                        Score
                                                    </div>
                                                    <div class="col">
                                                        <% if (parent.role_id == '123e4567-e89b-12d3-a456-426614174002') { %>
                                                            <button type="button" class="btn float-end p-0" onclick="delCard('komersil-<%= i+1 %>')"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="m6.4 18.308l-.708-.708l5.6-5.6l-5.6-5.6l.708-.708l5.6 5.6l5.6-5.6l.708.708l-5.6 5.6l5.6 5.6l-.708.708l-5.6-5.6z"/></svg></button>
                                                        <% } %>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="form-group">
                                                            <label for="my-input">Description</label>
                                                            <textarea class="form-control" name="deskripsi_template[2][]" id="komersil-desc-<%= i+1 %>" <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174002' ? 'disabled' : 'readonly' %>><%= sd.deskripsi_template %></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-8">
                                                        <input class="form-control kriteria" id="komersil-kriteria-<%= i+1 %>" name="kriteria[2][]" type="text" <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174002' ? 'disabled' : 'readonly' %> value="<%= detailVS[sd.template_vs_id].nama_kriteria %>">
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control qty komersil-bobot" onchange="calculateScore(2)" placeholder="1-5" name="score1[2][]" type="text" id="komersil-bobot-<%= i+1 %>" required <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174002' ? 'disabled' : '' %> value="<%= sd.score1 %>">
                                                    </div>
                                                </div>
                    
                                                <div class="row">
                                                    <div class="col-8">
                                                        <input class="form-control subKriteria" name="subKriteria[2][]" id="komersil-subkriteria-<%= i+1 %>" type="text" <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174002' ? 'disabled' : 'readonly' %> value="<%= detailVS[sd.template_vs_id].nama_sub_kriteria %>">
                                                    </div>
                                                    <div class="col">
                                                        <input class="form-control qty komersil-bobot" onchange="calculateScore(2)" placeholder="1-5" name="score2[2][]" type="text" id="komersil-bobot2-<%= i+1 %>" required <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174002' ? 'disabled' : '' %> value="<%= sd.score2 %>">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <% } %>
                                <% }) %>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-8">
                                        <p>COMMERCIAL SCORE</p>
                                    </div>
                                    <div class="col">
                                        <input style="background-color: #FCE2D3;" class="form-control qty score" type="text" id="bobot-commercial-score" disabled value="<%= total2*vendorS.bobot_komersial/100 %>">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h5>User Opinion</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <label>Admin Divisi</label>
                                <textarea class="form-control" type="text" name="desc_teknikal" placeholder="Opini Admin Divisi" <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174001' && condition ? 'disabled' : '' %>><%= vendorS.desc_teknikal %></textarea>
                            </div>
                            <div class="col">
                                <label>Admin Purchasing</label>
                                <textarea class="form-control" name="desc_komersil" type="text" placeholder="Opini Admin Purchasing" <%= parent.role_id && condition != '123e4567-e89b-12d3-a456-426614174002' ? 'disabled' : '' %>><%= vendorS.desc_komersial %></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        <h5>Hasil Akhir</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <label>FINAL SCORE</label>
                            </div>
                            <div class="col-2">
                                <input style="background-color: #FCE2D3;" class="form-control qty" type="text" id="final-score" name="final_score" readonly value="<%= vendorS.final_score %>">
                            </div>
                            <button type="submit" class="col-6 btn btn-orange">Submit Scoring</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="card mb-3">
                <div class="card-header">
                    <h5>Status</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <label for="my-input">Division Head</label>
                                <input id="my-input" class="form-control" type="text" disabled value="<%= vendorS.approve_division ? 'Approved' : 'Pending' %>">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="my-input">Department Head</label>
                                <input id="my-input" class="form-control" type="text" disabled value="<%= vendorS.approve_department ? 'Approved' : 'Pending' %>">
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="my-input">Presiden Direktur</label>
                                <input id="my-input" class="form-control" type="text" disabled value="<%= vendorS.approve_presdir ? 'Approved' : 'Pending' %>">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <datalist id="dlTemplate">
            <% template.forEach(t => { %>
                <option value="<%= t.nama_template %>"><%= t.nama_template %> | <%= t.deskripsi_template %></option>
            <% }) %>
        </datalist>
    <%- include('partials/footer.ejs') %>
    <script>
        function getTemplate(elm) { 
            // GET ID
            var tipe = $(elm)[0].id.split('-')[0];
            var counter = $(elm)[0].id.split('-')[2];
            var val1_id = $('#'+tipe+"-"+counter).find('.kriteria')[0].id;
            var val2_id = $('#'+tipe+"-"+counter).find('.subKriteria')[0].id;
            console.log(val1_id)
            $.ajax({
                type: "post",
                url: "/api/getDetailVsTemplate",
                data: {
                    nama_template: $(elm).val()
                },
                success: function (response) {
                    if(response){
                        $('#'+tipe+"-templateid-"+counter).val(response.template_vs_id)
                        $('#'+val1_id).val(response.nama_kriteria)
                        $('#'+val2_id).val(response.nama_sub_kriteria)
                        $('#'+tipe+"-desc-"+counter).val(response.deskripsi_template)
                        $('#'+val1_id).attr('readonly', true);
                        $('#'+val2_id).attr('readonly', true);
                        $('#'+tipe+"-desc-"+counter).attr('readonly', true);
                    }else{
                        $('#'+tipe+"-templateid-"+counter).val('')
                        $('#'+val1_id).val('')
                        $('#'+val2_id).val('')
                        $('#'+tipe+"-desc-"+counter).val('')
                        $('#'+val1_id).attr('readonly', false);
                        $('#'+val2_id).attr('readonly', false);
                        $('#'+tipe+"-desc-"+counter).attr('readonly', false);
                    }
                }
            });
        }

        function tambahCard(type){
            var card = $("#"+type)
            var lastID = 0
            var lastCard = "";
            if(card.children('.card:last').length != 0){
                var lastCard = card.children('.card:last')[0].id.split("-")
                lastID = parseInt(lastCard.pop())
            }
            var typeCal = type == 'komersil' ? 2 : 1

            card.append(`
                <div class="card mb-3" id="`+type+`-`+(lastID+1)+`">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-8">
                                <div class="form-group">
                                    <label for="nama-kriteria">Nama Template</label>
                                    <input class="form-control template" onchange="getTemplate(this)" type="text" id="`+type+`-template-`+(lastID+1)+`" name="nama_template[`+typeCal+`][]" list="dlTemplate" required>
                                    <input type="hidden" id="`+type+`-templateid-`+(lastID+1)+`" name="template_id[`+typeCal+`][]" value="">
                                </div>
                            </div>
                            <div class="col-3 text-center align-content-center">
                                Score
                            </div>
                            <div class="col">
                                <button type="button" onclick="delCard('`+type+`-`+(lastID+1)+`')" class="btn float-end p-0"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="m6.4 18.308l-.708-.708l5.6-5.6l-5.6-5.6l.708-.708l5.6 5.6l5.6-5.6l.708.708l-5.6 5.6l5.6 5.6l-.708.708l-5.6-5.6z"/></svg></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="my-input">Description</label>
                                    <textarea class="form-control" name="deskripsi_template[`+typeCal+`][]" id="`+type+`-desc-`+(lastID+1)+`"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <input class="form-control kriteria" name="kriteria[`+typeCal+`][]" id="`+type+`-kriteria-`+(lastID+1)+`" type="text">
                            </div>
                            <div class="col">
                                <input class="form-control qty `+type+`-bobot" onchange="calculateScore(`+typeCal+`)" placeholder="1-5" type="text" id="`+type+`-bobot-`+(lastID+1)+`" name="score1[`+typeCal+`][]" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-8">
                                <input class="form-control subKriteria" name="subKriteria[`+typeCal+`][]" id="`+type+`-subkriteria-`+(lastID+1)+`" type="text">
                            </div>
                            <div class="col">
                                <input class="form-control qty `+type+`-bobot" onchange="calculateScore(`+typeCal+`)" placeholder="1-5" type="text" id="`+type+`-bobot2-`+(lastID+1)+`" name="score2[`+typeCal+`][]" required>
                            </div>
                        </div>
                    </div>
                </div>
            `)
        }

        function delCard(id){
            $("#"+id).remove();

            calculateScore(id.split('-')[0] == 'komersil' ? 2 : 1);
        }

        function calculateScore(type){
            switch(type){
                case 1:
                    var bobot = parseFloat(initAutoNumeric('#teknikal-bobot', "qtyPercent").getNumericString()) || 0;
                    var total = 0;
                    $('.teknikal-bobot').each(function(i, e){
                        total += parseFloat(initAutoNumeric('#'+$(this)[0].id, "qty").getNumericString()) || 0
                    })
                    var score = initAutoNumeric('#bobot-technical-score', "qty")

                    score.set(total*bobot/100)
                    break;
                case 2:
                    var bobot = parseFloat(initAutoNumeric('#komersil-bobot', "qtyPercent").getNumericString()) || 0;
                    var total = 0;
                    $('.komersil-bobot').each(function(i, e){
                        total += parseFloat(initAutoNumeric('#'+$(this)[0].id, "qty").getNumericString()) || 0
                    })
                    var score = initAutoNumeric('#bobot-commercial-score', "qty")

                    score.set(total*bobot/100)
                    break;
            }

            calculateFinalScore()
        }

        function calculateFinalScore() {
            var val1 = parseFloat(initAutoNumeric('#bobot-commercial-score', "qty").getNumericString()) || 0
            var val2 = parseFloat(initAutoNumeric('#bobot-technical-score', "qty").getNumericString()) || 0
            var score = initAutoNumeric('#final-score', "qty")

            score.set(val1+val2)
        }
    </script>
</body>