<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goods Received</title>
    <%- include('partials/head.ejs') %>
    <%- include('partials/style.ejs') %>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container mt-4">
        <h1>Goods Received Vendor</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/informasi-pengadaan-approved?id=<%= pengadaan_id %>">Informasi Pengadaan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/item-pengadaan-approved?id=<%= pengadaan_id %>">Item Pengadaan</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link " href="/informasi-purchase-order-approved?id=<%= pengadaan_id %>">Informasi Purchase Order</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link " href="/dokumen-purchase-order-approved?id=<%= pengadaan_id %>">Dokumen Purchase Order</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link active" href="/goods-received-vendor?id=<%= pengadaan_id %>">Goods Received</a>
            </li>
        </ul>
        <% if (result) { %>
            <div class="card">
                <div class="card-body">
                    <div class="row d-flex flex-wrap">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="invoice" class="form-label">Upload Invoice (PDF)</label>
                                <div class="file-loading">
                                    <input id="invoice" name="invoice" type="file" accept="application/pdf">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="surat_jalan" class="form-label">Upload Surat Jalan (PDF)</label>
                                <div class="file-loading">
                                    <input id="surat_jalan" name="surat_jalan" type="file" accept="application/pdf">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <p>Sudah diupload</p>
                    <!-- <button type="submit" class="btn btn-primary float-end">Submit Bukti</button> -->
                </div>
            </div>
        <% } else { %>
            <form action="/goods-received-vendor" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        <input type="hidden" name="pengadaan_id" value="<%= pengadaan_id %>">
                        <div class="row d-flex flex-wrap">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="invoice" class="form-label">Upload Invoice</label>
                                    <input type="file" class="form-control" id="invoice" accept="application/pdf" name="invoice">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="surat_jalan" class="form-label">Upload Surat Jalan</label>
                                    <input type="file" class="form-control" id="surat_jalan" accept="application/pdf" name="surat_jalan">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary float-end">Submit Bukti</button>
                    </div>
                </div>
            </form>
        <% } %>
    </div>
<%- include('partials/footer.ejs') %>

<script>
    $("#surat_jalan").fileinput({
        showClose: false,
        showBrowse: false,
        showCancel: false,
        showRemove: false,
        showUpload: false,
        sortable: false,
        showCaption: false,
        <%
        if(result){
        %>
        initialPreview: [
            // URL gambar yang ingin ditampilkan
            '<%= result.url_surat_jalan.replace(/\s+/g, '').replace(/\\/g, '/') %>',
            
            // ... URL gambar lainnya ...
        ],
        initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
        initialPreviewFileType: 'pdf', // image is the default and can be overridden in config below
        <%
        }
        %>
        initialPreviewConfig: [
            {
                // Menyembunyikan tombol remove
                showRemove: false,
                // Menyembunyikan tombol upload
                showUpload: false,
                // Menyembunyikan tombol zoom
                showZoom: true,
                showRotate: false,
                // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                showDownload: false,
                showDrag: false,
            }
        ],
        fileActionSettings: {
            // Menyembunyikan tombol remove
            showRemove: false,
            // Menyembunyikan tombol upload
            showUpload: false,
            // Menyembunyikan tombol zoom
            showZoom: true,
            showRotate: false,
            // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
            showDownload: false,
            // ... other file action settings ...
        },
    });
    
    $("#invoice").fileinput({
        showClose: false,
        showBrowse: false,
        showCancel: false,
        showRemove: false,
        showUpload: false,
        sortable: false,
        showCaption: false,
        <%
        if(result){
        %>
        initialPreview: [
            // URL gambar yang ingin ditampilkan
            '<%= result.url_invoice.replace(/\s+/g, '').replace(/\\/g, '/') %>',
            
            // ... URL gambar lainnya ...
        ],
        initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
        initialPreviewFileType: 'pdf', // image is the default and can be overridden in config below
        <%
        }
        %>
        initialPreviewConfig: [
            {
                // Menyembunyikan tombol remove
                showRemove: false,
                // Menyembunyikan tombol upload
                showUpload: false,
                // Menyembunyikan tombol zoom
                showZoom: true,
                showRotate: false,
                // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                showDownload: false,
                showDrag: false,
            }
        ],
        fileActionSettings: {
            // Menyembunyikan tombol remove
            showRemove: false,
            // Menyembunyikan tombol upload
            showUpload: false,
            // Menyembunyikan tombol zoom
            showZoom: true,
            showRotate: false,
            // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
            showDownload: false,
            // ... other file action settings ...
        },
    })
</script>
</html>