<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goods Received</title>
    <%- include('partials/head.ejs') %>
    <%- include('partials/style.ejs') %>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container mt-4 mb-4">
        <h1>Goods Received</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/informasi-pengadaan-previous/<%= pengadaan_id %>">Informasi Pengadaan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/item-pengadaan-previous/<%= pengadaan_id %>">Item Pengadaan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/vendor-pengadaan-previous/<%= pengadaan_id %>">List Vendor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/informasi-purchase-order-previous?id=<%= pengadaan_id %>">Informasi Purchase Order</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link " href="/dokumen-purchase-order-previous?id=<%= pengadaan_id %>">Dokumen Purchase Order</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link active" href="/goods-received-admin?id=<%= pengadaan_id %>">Goods Received</a>
                </li>
            </ul>
                
            <div class="card">
                <div class="card-header">
                    <p class="m-0">Review hasil yang diterima</p>
                </div>
                <form action="/goods-received-admin" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="pengadaan_id" value="<%= pengadaan_id %>">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col">
                                <button type="button" class="btn float-end btn-success mx-2" data-bs-toggle="modal" data-bs-target="#invoice">Lihat Invoice</button>
                                <button type="button" class="btn float-end btn-success mx-2" data-bs-toggle="modal" data-bs-target="#surat_jalan">Lihat Surat Jalan</button>
                            </div>
                        </div>
                        <% items.forEach((it, i) => { %>
                            <% if (result) { %>
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="card-title"><%= it.nama_item %></h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="row d-flex flex-wrap">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="tanggal-terima">TANGGAL TERIMA*</label>
                                                    <input class="form-control" type="date" id="tanggal-terima" name="tanggal_terima[]" <% result.map(function(val){
                                                        if(val.item_id == it.item_id && val.tanggal_terimas){
                                                            return `value=${moment(val.tanggal_terimas).format('YYYY-MM-DD')} disabled`
                                                        }
                                                    }) %> required>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="jumlah-barang">JUMLAH BARANG*</label>
                                                    <input class="form-control qty" type="text" id="jumlah-barang" name="jumlah_barang[]" <% result.map(function(val){
                                                        if(val.item_id == it.item_id && val.jumlah_barang){
                                                            return `value=${val.jumlah_barang} disabled`
                                                        }
                                                    }) %> required>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="deskripsi-barang">DESKRIPSI BARANG*</label>
                                                    <textarea id="my-textarea" class="form-control" name="deskripsi_barang[]" rows="3" required <% result.map(function(val){
                                                        if(val.item_id == it.item_id && val.deskripsi_barang){
                                                            return `disabled`
                                                        }
                                                    }) %>><% result.map(function(val){
                                                        if(val.item_id == it.item_id && val.deskripsi_barang){
                                                            return val.deskripsi_barang
                                                        }
                                                    }) %></textarea>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="form-label" for="kondisi-barang">KONDISI BARANG*</label>
                                                    <input type="text" class="form-control" id="kondisi-barang" name="kondisi_barang[]" <% result.map(function(val){
                                                        if(val.item_id == it.item_id && val.kondisi_barang){
                                                            return `value=${val.kondisi_barang} disabled`
                                                        }
                                                    }) %> required>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="form-label" for="bukti_foto">UPLOAD BUKTI FOTO*</label>
                                                    <div class="file-loading">
                                                        <input id="bukti_foto" name="bukti_foto[]" type="file" accept="image/*" multiple>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             
                            <% } %>
                        <% }) %>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <% if (result[0].evaluasi_vendor) { %>
                                        <p>Sudah Upload</p>
                                    <% }else{ %>
                                        <label class="form-label" for="upload-evaluasi">UPLOAD FILE HASIL EVALUASI VENDOR* (PDF)</label>
                                        <input class="form-control" type="file" id="upload-evaluasi" name="bukti_evaluasi" accept="application/pdf" required>
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-6">
                                <% if (result) { %>
                                    <% if (!result[0].evaluasi_vendor) { %>
                                    <button type="submit" class="btn btn-primary float-end">Submit Bukti</button>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="invoice" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Invoice" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="Invoice">Invoice</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <% if (result) { %>
                        <div class="file-loading">
                            <input id="invoice_url" name="invoice_url" type="file" accept="image/*">
                        </div>
                    <% }else{ %>
                        <p>Vendor Belum Upload</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    
    <div id="surat_jalan" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Surat Jalan" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="SuratJalan">Surat Jalan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <% if (result) { %>
                    <div class="file-loading">
                        <input id="surat_jalan_url" name="surat_jalan_url" type="file" accept="image/*">
                    </div>
                    <% }else{ %>
                        <p>Vendor Belum Upload</p>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>

<script>
    // $(document).ready(function () {
        $("#bukti_foto").fileinput({
            <% if (result[0].evaluasi_vendor) { %>
                showBrowse: false,
                showClose: false,
            <% } %>
            showCancel: false,
            showUpload: false,
            sortable: false,
            showCaption: false,
            overwriteInitial: false,
            <%
            if(result){
            %>
            initialPreview: [
                // URL gambar yang ingin ditampilkan
                '<%= result[0].url_surat_jalan.replace(/\s+/g, '').replace(/\\/g, '/') %>',
                
                // ... URL gambar lainnya ...
            ],
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'image', // image is the default and can be overridden in config below
            <%
            }
            %>
            initialPreviewConfig: [
                {
                    // Menyembunyikan tombol remove
                    <% if (result[0].evaluasi_vendor) { %>
                        showRemove: false,
                    <% } %>
                    // Menyembunyikan tombol upload
                    showUpload: false,
                    // Menyembunyikan tombol zoom
                    showZoom: true,
                    showRotate: false,
                    // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                    showDownload: false,
                    showDrag: false,
                }
            ],
            fileActionSettings: {
                // Menyembunyikan tombol remove
                <% if (result[0].evaluasi_vendor) { %>
                    showRemove: false,
                <% } %>
                // Menyembunyikan tombol upload
                showUpload: false,
                // Menyembunyikan tombol zoom
                showZoom: true,
                showRotate: false,
                // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                showDownload: false,
                // ... other file action settings ...
            },
        });

        $("#surat_jalan_url").fileinput({
            showClose: false,
            showBrowse: false,
            showCancel: false,
            showRemove: false,
            showUpload: false,
            sortable: false,
            showCaption: false,
            <%
            if(result){
            %>
            initialPreview: [
                // URL gambar yang ingin ditampilkan
                '<%= result[0].url_surat_jalan.replace(/\s+/g, '').replace(/\\/g, '/') %>',
                
                // ... URL gambar lainnya ...
            ],
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'pdf', // image is the default and can be overridden in config below
            <%
            }
            %>
            initialPreviewConfig: [
                {
                    // Menyembunyikan tombol remove
                    showRemove: false,
                    // Menyembunyikan tombol upload
                    showUpload: false,
                    // Menyembunyikan tombol zoom
                    showZoom: true,
                    showRotate: false,
                    // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                    showDownload: false,
                    showDrag: false,
                }
            ],
            fileActionSettings: {
                // Menyembunyikan tombol remove
                showRemove: false,
                // Menyembunyikan tombol upload
                showUpload: false,
                // Menyembunyikan tombol zoom
                showZoom: true,
                showRotate: false,
                // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                showDownload: false,
                // ... other file action settings ...
            },
        });
        
        $("#invoice_url").fileinput({
            showClose: false,
            showBrowse: false,
            showCancel: false,
            showRemove: false,
            showUpload: false,
            sortable: false,
            showCaption: false,
            <%
            if(result){
            %>
            initialPreview: [
                // URL gambar yang ingin ditampilkan
                '<%= result[0].url_invoice.replace(/\s+/g, '').replace(/\\/g, '/') %>',
                
                // ... URL gambar lainnya ...
            ],
            initialPreviewAsData: true, // identify if you are sending preview data only and not the raw markup
            initialPreviewFileType: 'pdf', // image is the default and can be overridden in config below
            <%
            }
            %>
            initialPreviewConfig: [
                {
                    // Menyembunyikan tombol remove
                    showRemove: false,
                    // Menyembunyikan tombol upload
                    showUpload: false,
                    // Menyembunyikan tombol zoom
                    showZoom: true,
                    showRotate: false,
                    // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                    showDownload: false,
                    showDrag: false,
                }
            ],
            fileActionSettings: {
                // Menyembunyikan tombol remove
                showRemove: false,
                // Menyembunyikan tombol upload
                showUpload: false,
                // Menyembunyikan tombol zoom
                showZoom: true,
                showRotate: false,
                // Menampilkan tombol download (bisa dianggap sebagai 'view detail')
                showDownload: false,
                // ... other file action settings ...
            },
        });
        
    // });
</script>
</html>