<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informasi Purchase Order</title>
    <%- include('partials/head.ejs') %>
    <%- include('partials/style.ejs') %>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container mt-4">
        <h1>Informasi Purchase Order</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/informasi-pengadaan-approved?id=<%= pengadaan_id %>">Informasi Pengadaan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/item-pengadaan-approved?id=<%= pengadaan_id %>">Item Pengadaan</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link active" href="/informasi-purchase-order-approved?id=<%= pengadaan_id %>">Informasi Purchase Order</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link " href="/dokumen-purchase-order-approved?id=<%= pengadaan_id %>">Dokumen Purchase Order</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link " href="/goods-received-vendor?id=<%= pengadaan_id %>">Goods Received</a>
            </li>
        </ul>
        <div class="card">
            <div class="card-header">
                <% 
                if(po.length != 0){
                %>
                <button type="button" class="btn btn-primary float-end" onclick="window.location.href='/download-po/<%= pengadaan_id %>/<%= po[0].po_id %>';">Download Dokumen PO</button>
                <%
                } 
                %>
                <h5 class="card-title">Informasi Purchase Order</h5>
                <% 
                if(po.length != 0){
                %>
                <p class="card-text"><strong>Delivery Date:</strong> <%= po ? po[0].tanggal_pengiriman : "-" %></p>
                <p class="card-text"><strong>Purchase ID:</strong> <%= po ? po[0].po_id : "-" %></p>
                <%
                } 
                %>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">NO. ITEM</th>
                            <th scope="col">NAMA BARANG</th>
                            <th scope="col">QUANTITY</th>
                            <th scope="col">HARGA ITEM</th>
                            <th scope="col">NET AMOUNT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% po.forEach(function(item, i) { %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= item.nama_item %></td>
                                <td class="qty"><%= item.quantity %></td>
                                <td class="currency"><%= item.harga_item %></td>
                                <td class="currency"><%= item.harga_total %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>
</html>