<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informasi Pengadaan</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container mt-4">
        <h1>Informasi Pengadaan</h1>      
        <% if(pengadaan.status_id == '5b117843-38aa-47cd-b4f2-24c3f88ab472'){ %>
            <div class="d-flex justify-content-end align-items-start mb-3">
                <button class="btn btn-success" onclick="location.href='/validasi-pengadaan-admin/<%= pengadaan_id %>'">Validasi Pengadaan</button>        
            </div>        
        <% } %>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/informasi-pengadaan-previous/<%= pengadaan_id %>">Informasi Pengadaan</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link" href="/item-pengadaan-previous/<%= pengadaan_id %>">Item Pengadaan</a>
            </li>
            <% if(pengadaan.status_id == '0b3e77e5-140b-4662-9563-dde365358ddc' || pengadaan.status_id == '3b9a7057-fc96-4894-88b6-24f2f4211110'){ %>
            <li class="nav-item">
                <a class="nav-link " href="/vendor-pengadaan-previous/<%= pengadaan_id %>">List Vendor</a>
            </li>
            <% if (pengadaan.vendor_pemenang) { %>
                <li class="nav-item">
                    <a class="nav-link " href="/informasi-purchase-order-previous?id=<%= pengadaan_id %>">Informasi Purchase Order</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/dokumen-purchase-order-previous?id=<%= pengadaan_id %>">Dokumen Purchase Order</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link " href="/goods-received-admin?id=<%= pengadaan_id %>">Goods Received</a>
                </li>
            <% } %>
            <% } %>  
        </ul>
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Informasi Pengadaan</h5>
            </div>
            <div class="card-body">
                <p class="card-text"><strong>Nama Pengadaan:</strong> <%= pengadaan.nama_pengadaan %></p>
                <p class="card-text"><strong>Jenis Pengadaan:</strong> <%= pengadaan.nama_jenis_pengadaan %></p>
                <p class="card-text"><strong>Jenis Vendor:</strong> <%= pengadaan.nama_jenis_vendor %></p>
                <p class="card-text"><strong>Tanggal Mulai:</strong> <%= pengadaan.tanggal_pemilihan %></p>
                <p class="card-text"><strong>Tanggal Selesai:</strong> <%= pengadaan.tanggal_pemilihan_selesai %></p>
                <div class="form-group">
                    <label for="zoom">Link Meeting</label>
                    <textarea class="form-control" id="zoom" disabled><%= pengadaan.link_zoom %></textarea>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>
</html>