<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validasi Pengadaan</title>
    <%- include('partials/head.ejs') %>
    <%- include('partials/style.ejs') %>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container mt-4">
        <h1>Item Pengadaan</h1>
        <% if(pengadaan.tipe_pemilihan_id == 'b8649cf1-3da3-4258-8e2d-459e10b1b95f' && pengadaanUser.status_id != '9e18ab27-4557-41eb-b3c1-430c67377830' && pengadaanUser.status_id != '760ad69f-7739-41e1-baf9-7a68665b21e8'){ %>
            <div class="d-flex justify-content-end align-items-start mb-3">
                <button class="btn btn-success float-end" onclick="location.href='/form-tender/<%= pengadaan_id %>'">Form Tender</button>        
            </div>
        <% } %>
        <% if(pengadaanUser.status_id != '9e18ab27-4557-41eb-b3c1-430c67377830' && pengadaanUser.status_id != '760ad69f-7739-41e1-baf9-7a68665b21e8' && pengadaan.tipe_pemilihan_id == '4ff07c90-7efb-4a4a-8715-d53748a387d6'){ %>
            <div class="d-flex justify-content-end align-items-start mb-3">
                <button class="btn btn-success" onclick="location.href='/form-bidding/<%= pengadaan_id %>'">Form Bidding</button>        
            </div>        
        <% } %>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/informasi-pengadaan-approved?id=<%= pengadaan_id %>">Informasi Pengadaan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/item-pengadaan-approved?id=<%= pengadaan_id %>">Item Pengadaan</a>
            </li>
            <% if((pengadaan.tipe_pemilihan_id == 'b8649cf1-3da3-4258-8e2d-459e10b1b95f' && pengadaanUser.status_id == '760ad69f-7739-41e1-baf9-7a68665b21e8') || (pengadaan.tipe_pemilihan_id == '4ff07c90-7efb-4a4a-8715-d53748a387d6' && pengadaanUser.status_id == '760ad69f-7739-41e1-baf9-7a68665b21e8') || (pengadaan.tipe_pemilihan_id != 'b8649cf1-3da3-4258-8e2d-459e10b1b95f' && pengadaan.tipe_pemilihan_id != '4ff07c90-7efb-4a4a-8715-d53748a387d6')){ %>
                <!-- <li class="nav-item">
                    <a class="nav-link " href="/informasi-purchase-order-approved?id=<%= pengadaan_id %>">Informasi Purchase Order</a>
                </li> -->
                <!-- <li class="nav-item">
                    <a class="nav-link " href="/dokumen-purchase-order-approved?id=<%= pengadaan_id %>">Dokumen Purchase Order</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link " href="/goods-received-vendor?id=<%= pengadaan_id %>">Goods Received</a>
                </li>
            <% } %>
        </ul>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Daftar Item</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>No. Item</th>
                            <th>Nama Pengadaan</th>
                            <th>Quantity</th>
                            <th>Harga Item</th>
                            <th>Net Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% items.forEach(function(item, i) { %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= item.nama_item %></td>
                            <td class="qty"><%= item.quantity %></td>
                            <td class="currency"><%= item.harga_item %></td>
                            <td class="currency"><%= item.harga_total %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>
</html>