<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Pengadaan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <%- include('partials/style.ejs') %>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container mt-4">
        <h1>Item Pengadaan</h1>
        <% if(pengadaan.status_id == '0b3e77e5-140b-4662-9563-dde365358ddc' && pengadaan.status_id != '3b9a7057-fc96-4894-88b6-24f2f4211110'){ %>
        <div class="d-flex justify-content-end align-items-start mb-3">
            <button class="btn btn-success" onclick="location.href='/validasi-pengadaan-admin/<%= pengadaan_id %>'">Validasi Pengadaan</button>        
        </div>        
        <% } %>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/informasi-pengadaan-previous/<%= pengadaan_id %>">Informasi Pengadaan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/item-pengadaan-previous/<%= pengadaan_id %>">Item Pengadaan</a>
            </li>
        </ul>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Daftar Item</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>No. Item</th>
                            <th>Nama Pengadaan</th>
                            <th>Quantity</th>
                            <th>Harga Item</th>
                            <!-- <th>Diskon</th>
                            <th>Net Amount</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <% pengadaan.forEach(function(item) { %>
                        <tr>
                            <td><%= item.item_id %></td>
                            <td><%= item.nama_item %></td>
                            <td class="qty"><%= item.quantity %></td>
                            <td class="currency"><%= item.harga_total %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>
</html>