<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <%- include('partials/style.ejs') %>
    <title>Bidding List</title>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container p-4">
        <h2>Bidding</h2>
        <p>Lihat semua bidding</p>
        <div class="tab">
            <button class="tablinks" onclick="location.href='/list-bidding-vendor.ejs'">Undangan Bidding</button>
            <button class="tablinks active" onclick="location.href='/status-bidding-vendor.ejs'">Dalam Pengajuan</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nomor Bidding</th>
                    <th>Nama Pengadaan</th>
                    <th>Jenis Pengadaan</th>
                    <th>Nama Barang</th>
                    <th>Harga Rekomendasi</th>
                    <th>Jumlah Barang</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <% bidding_tender.forEach(function(bidding_tender) { %>
                <tr>
                    <td><%= bidding_tender.bt_id%></td>
                    <td><%= bidding_tender.nama_pengadaan %></td>
                    <td><%= bidding_tender.jenis_pengadaan %></td>
                    <td><%= bidding_tender.nama_item %></td>
                    <td><%= bidding_tender.harga_item %></td>
                    <td><%= bidding_tender.jumlah_item %></td>
                    <td>
                        <form action="/form-bidding-vendor.ejs" method="get">
                            <button type="submit" class="btn btn-primary">Ajukan</button>
                        </form>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>