<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <%- include('partials/style.ejs') %>
    <title>Bidding List</title>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container mt-4">
        <h2>Bidding</h2>
        <p>Lihat semua bidding</p>  
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="/list-bidding-vendor">Undangan Bidding</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/status-bidding-vendor">Dalam Pengajuan</a>
            </li>
        </ul>
        <table class="table">
            <thead>
                <tr>
                    <th>Nomor Bidding</th>
                    <th>Nama Pengadaan</th>
                    <th>Jenis Pengadaan</th>
                    <th>Nama Barang</th>
                    <th>Harga Rekomendasi</th>
                    <th>Jumlah Barang</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <% 
                if(bidding_tender.length > 0){
                    bidding_tender.forEach(function(bidding_tender) { 
                %>
                <tr>
                    <td><%= bidding_tender.bt_id %></td>
                    <td><%= bidding_tender.nama_pengadaan %></td>
                    <td><%= bidding_tender.nama_jenis_pengadaan %></td>
                    <td><%= bidding_tender.nama_item %></td>
                    <td class="currency"><%= bidding_tender.harga_item %></td>
                    <td class="qty"><%= bidding_tender.jumlah_item %></td>
                    <td>
                        <form action="/form-bidding" method="get">
                            <input type="hidden" name="id" value="<%= bidding_tender.bt_id %>">
                            <button type="submit" class="btn btn-primary">Ajukan</button>
                        </form>
                    </td>
                </tr>
                <% 
                    });
                } else{
                %>
                <tr>
                    <td colspan="7">Data Tidak Ditemukan!</td>
                </tr>
                <%
                }
                %>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
<%- include('partials/footer.ejs') %>
</html>
