<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Validasi Pengadaan</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <%- include('partials/style.ejs') %>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container p-4">
        <h1>Validasi Pengadaan</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Approve Pengadaan yang diinput oleh admin divisi</h5>
                <form action="/validasi-pengadaan-admin" method="post">
                    <input type="hidden" name="user_id" value="<%= parent.id %>">
                    <input type="hidden" name="role_id" value="<%= parent.role_id %>">
                    <div class="row flex-wrap mb-3">
                        <div class="col-md-6">
                            <label for="nama_pengadaan" class="form-label">Nama Pengadaan</label>
                            <input type="text" class="form-control" id="nama_pengadaan" name="nama_pengadaan" value="<%= pengadaan.nama_pengadaan || "-" %>" readonly>
                        </div>
                        <div class="col-md-6">
                            <label for="termin_pembayaran" class="form-label">Termin Pembayaran*</label>
                            <input type="text" class="form-control qty" id="termin_pembayaran" name="termin_pembayaran" value="<%= pengadaan.termin_pembayaran || "-" %>" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="jenis_pengadaan" class="form-label">Jenis Pengadaan</label>
                            <input type="text" class="form-control" id="jenis_pengadaan" name="jenis_pengadaan" value="<%= pengadaan.nama_jenis_pengadaan || "-" %>" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="jenis_vendor" class="form-label">Jenis Vendor</label>
                            <input type="text" class="form-control" id="jenis_vendor" name="jenis_vendor" value="<%= pengadaan.nama_jenis_vendor || "-" %>" readonly>
                        </div>
                        <div class="col-md-4">
                            <label for="tipe_pemilihan" class="form-label">Alokasi Pengadaan</label>
                            <select class="form-select" id="tipe_pemilihan" name="tipe_pemilihan" disabled>
                                <% option_Tipe_Pemilihan2.forEach(option => { %>
                                    <option value="<%= option.tipe_pemilihan_id %>" <%= option.tipe_pemilihan_id == pengadaan.tipe_pemilihan_id ? 'selected' : '' %>><%= option.nama_tipe_pemilihan %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="row flex-wrap mb-3">
                        <div class="col-md-6">
                            <label for="tanggal_pemilihan" class="form-label">Tanggal Mulai</label>
                            <input type="date" class="form-control" id="tanggal_pemilihan" name="tanggal_pemilihan" <%= parent.role_id == '123e4567-e89b-12d3-a456-426614174002' || parent.role_id == '123e4567-e89b-12d3-a456-426614174001' ? "" : "readonly" %> value="<%= moment(pengadaan.tanggal_pemilihan).format("YYYY-MM-DD") %>" required>
                        </div>
                        <div class="col-md-6">
                            <label for="tanggal_pemilihan_selesai" class="form-label">Tanggal Selesai</label>
                            <input type="date" class="form-control" id="tanggal_pemilihan_selesai" name="tanggal_pemilihan_selesai" <%= parent.role_id == '123e4567-e89b-12d3-a456-426614174002' || parent.role_id == '123e4567-e89b-12d3-a456-426614174001' ? "" : "readonly" %> value="<%= moment(pengadaan.tanggal_pemilihan_selesai).format("YYYY-MM-DD") %>" required>
                        </div>
                        <div class="col-md-6">
                            <label for="pic" class="form-label">PIC</label>
                            <select class="form-select" id="pic" <%= parent.role_id != '123e4567-e89b-12d3-a456-426614174004' ? "disabled" : "name=pic" %> required>
                                <option value="" selected>Pilih PIC</option>
                                <% option_PIC.forEach(option => { %>
                                    <option value="<%= option.id %>" <%= option.id == pengadaan.pic ? "selected" : "" %>><%= option.first_name %> <%= option.last_name %></option>
                                <% }); %>
                            </select>
                            <input type="hidden" <%= parent.role_id != '123e4567-e89b-12d3-a456-426614174004' ? `name=pic value=${pengadaan.pic ?? ''}` : "" %>>
                        </div>
                        <% if (pengadaan.tipe_pemilihan_id == 'b8649cf1-3da3-4258-8e2d-459e10b1b95f') { %>
                            <div class="col-md-6">
                                <label for="link_zoom" class="form-label">Keterangan Meeting (Zoom)</label>
                                <textarea class="form-control" name="link_zoom" id="link_zoom" rows="3" required><%= bidding[0].link_zoom %></textarea>
                            </div>
                        <% } %>
                        <% if(pengadaan.tipe_pemilihan_id == 'a81c1ea8-2e4f-47f1-a963-38496490cd93'){ %>
                            <div class="col-md-6">
                                <label for="vendor_id" class="form-label">Vendor Yang Dipilih</label>
                                <select class="form-select" id="vendor_id" name="vendor_id" >
                                    <option value="" selected>Pilih Vendor</option>
                                    <% option_Vendor.forEach(option => { %>
                                        <option value="<%= option.id %>" <%= option.id == pengadaan.vendor_pemenang ? "selected" : "" %>><%= option.nama_vendor %></option>
                                    <% }); %>
                                </select>
                            </div>
                        <% } %>
                        <div class="col-md-12 mt-3">
                            <label for="aanwijzing" class="form-label">Aanwijzingi</label>
                            <textarea rows="7" class="form-control" name="aanwijzing" id="aanwijzing" <%= parent.role_id != '123e4567-e89b-12d3-a456-426614174001' ? "readonly" : "" %>><%= pengadaan.aanwijzing ?? `[Hari, Tanggal-bulan-tahun]
Scope pekerjaan dari [bidding/tender] yang diadakan adalah sebagai berikut:
- Harga rekomendasi adalah [Harga rekomendasi]
- Termin pembayaran lebih dari [termin] bulan
- Proyek memiliki scope pekerjaan renovasi gudang 2 lantai
Pihak vendor dianggap telah memahami spesifikasi pekerjaan, volume pekerjaan maupun kelengkapan lainnya sesuai kebutuhan dan keinginan yang diharapkan pihak PT. Mitra Pinasthika Mulia. Dengan demikian, jika salah satu vendor yang hadir saat ini terpilih sebagai pemenang [tender/bidding], maka segala resiko yang timbul akibat kekurangan volume dan sebagainya, telah menjadi tanggung jawab dari pihak vendor pemenang [tender/bidding] pekerjaan ini. Demikian Berita Acara ini dibuat dan disetujui oleh perwakilan dari pihak perwakilan vendor. 
(paragraph diatas ini isian sendiri)` %></textarea>    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>No. Item</th>
                                            <th>Nama Pengadaan</th>
                                            <th>Quantity</th>
                                            <th>Harga Item</th>
                                            <!-- <th>Diskon</th>
                                            <th>Net Amount</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var total = 0
                                            pengadaanItem.forEach(function(item) { 
                                                total += item.quantity * item.harga_total
                                        %>
                                        <tr>
                                            <td><%= item.item_id %></td>
                                            <td><%= item.nama_item %></td>
                                            <td class="qty"><%= item.quantity %></td>
                                            <td class="currency"><%= item.harga_total %></td>
                                        </tr>
                                        <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="pengadaan_id" value="<%= pengadaan.pengadaan_id %>">
                    <input type="hidden" name="harga" value="<%= total %>">
                    <button type="submit" class="btn btn-success">Approve Pengadaan</button>
                </form>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>
</html> 
