<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pengadaan - List Vendor</title>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/sidebar.ejs') %>
    <div class="container mt-4">
        <h1>List Vendor</h1>      
        <% if(pengadaan.status_id == '5b117843-38aa-47cd-b4f2-24c3f88ab472'){ %>
            <div class="d-flex justify-content-end align-items-start mb-3">
                <button class="btn btn-success" onclick="location.href='/validasi-pengadaan-admin/<%= pengadaan_id %>'">Validasi Pengadaan</button>        
            </div>        
        <% } %>        
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/informasi-pengadaan-previous/<%= pengadaan_id %>">Informasi Pengadaan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/item-pengadaan-previous/<%= pengadaan_id %>">Item Pengadaan</a>
            </li>
            <% if(pengadaan.status_id == '0b3e77e5-140b-4662-9563-dde365358ddc' || pengadaan.status_id == '3b9a7057-fc96-4894-88b6-24f2f4211110'){ %>
            <li class="nav-item">
                <a class="nav-link active" href="/vendor-pengadaan-previous/<%= pengadaan_id %>">List Vendor</a>
            </li>
            <% if (pengadaan.vendor_pemenang) { %>
                <li class="nav-item">
                    <a class="nav-link " href="/informasi-purchase-order-previous?id=<%= pengadaan_id %>">Informasi Purchase Order</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link " href="/dokumen-purchase-order-previous?id=<%= pengadaan_id %>">Dokumen Purchase Order</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link " href="/goods-received-admin?id=<%= pengadaan_id %>">Goods Received</a>
                </li>
            <% } %>
            <% } %>  
        </ul>
        <div class="card">
            <% if (!pengadaan.vendor_pemenang) { %>
                <div class="card-header">
                    <div class="form-group mb-3">
                        <input type="hidden" id="bt_id" name="bt_id" value="<%= pengadaan.bt_id %>">
                        <input type="hidden" id="pengadaan_id" value="<%= pengadaan_id %>">
                        <input type="hidden" id="type" name="type" value="<%= pengadaan.tipe_pemilihan_id %>">
                        <input type="hidden" id="jenis_vendor_id" value="<%= pengadaan.jenis_v %>">
                        <label class="col-sm-3" for="selVendor">Invite Vendor:</label>
                        <div class='input-group col-sm'>
                            <input class="form-control input-sm selVendor m-0" type="text" name="selVendor" id="selVendor">
                            <label class="input-group-text load" id="loadItem"></label>
                        </div>
                    </div>
                </div>
            <% } %>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table dataTables">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nama Vendor</th>
                                <th>Jenis Vendor</th>
                                <% if (pengadaan.tipe_pemilihan_id == '4ff07c90-7efb-4a4a-8715-d53748a387d6' || pengadaan.tipe_pemilihan_id == 'b8649cf1-3da3-4258-8e2d-459e10b1b95f') { %>
                                    <th>Pengajuan Harga</th>
                                    <th>Durasi Pekerjaan (Day)</th>
                                <% } %>
                                <% if (pengadaan.tipe_pemilihan_id == '8ef85b64-6d65-4b87-b5ee-5f06016b135c') { %>
                                    <th>Score</th>
                                <% } %>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% result.forEach(function(bt, i) {  %>
                            <tr>
                                <td class="qty"><%= i+1 %></td>
                                <td><%= bt.nama_vendor %></td>
                                <td><%= bt.nama_jenis_vendor || '-'  %></td>
                                <% if (pengadaan.tipe_pemilihan_id == '4ff07c90-7efb-4a4a-8715-d53748a387d6' || pengadaan.tipe_pemilihan_id == 'b8649cf1-3da3-4258-8e2d-459e10b1b95f') { %>
                                <td class="currency"><%= bt.pengajuan_harga || '-' %></td>
                                <td class="qty"><%= bt.durasi_pekerjaan || '-' %></td>
                                <% } %>
                                <% if (pengadaan.tipe_pemilihan_id == '8ef85b64-6d65-4b87-b5ee-5f06016b135c') { %>
                                <td class="qty"><%= bt.final_score || 0 %></td>
                                <td><%= bt.approve_department && bt.approve_division && bt.approve_presdir ? "Verified" : "Pending" %></td>
                                <% }else{ %>
                                <td><%= bt.nama_status %></td>
                                <% } %>
                                <td>
                                    <% if (bt.status_id == '9e18ab27-4557-41eb-b3c1-430c67377830' || (bt.status_id == 'ae00536a-78c1-42e7-af53-ebe6cd68903d' && pengadaan.tipe_pemilihan_id == 'b8649cf1-3da3-4258-8e2d-459e10b1b95f')) { %>
                                        <form id="setPemenang" action="/set-pemenang" method="post">
                                            <input type="hidden" name="pengadaan_id" value="<%= pengadaan_id %>">
                                            <input type="hidden" name="vendor_id" value="<%= bt.vendor_id %>">
                                            <input type="hidden" name="dbt_id" value="<%= bt.dbt_id %>">
                                            <input type="hidden" name="bt_id" value="<%= bt.bt_id %>">
                                            <% if (((pengadaan.tipe_pemilihan_id == '4ff07c90-7efb-4a4a-8715-d53748a387d6' || pengadaan.tipe_pemilihan_id == 'b8649cf1-3da3-4258-8e2d-459e10b1b95f') && bt.status_id == '9e18ab27-4557-41eb-b3c1-430c67377830')) { %>
                                                <button class="btn btn-success" <%= pengadaan.tipe_pemilihan_id == 'b8649cf1-3da3-4258-8e2d-459e10b1b95f' ? "type=button data-bs-toggle=modal data-bs-target=#setPemenang-modal-"+i : "type='submit'" %> >Set Pemenang</button>
                                            <% } %>
                                        </form>
                                    <% } %>
                                    <% if (pengadaan.tipe_pemilihan_id == '8ef85b64-6d65-4b87-b5ee-5f06016b135c') { %>
                                        <button class="btn btn-success" onclick="location.href='/form-vendor-scoring/<%= pengadaan_id %>/<%= bt.vendor_id %>'">Vendor Scoring</button> 
                                    <% } if(pengadaan.tipe_pemilihan_id == '8ef85b64-6d65-4b87-b5ee-5f06016b135c' && bt.approve_department && bt.approve_division && bt.approve_presdir && !pengadaan.vendor_pemenang && parent.role_id != '123e4567-e89b-12d3-a456-426614174005' && parent.role_id != '123e4567-e89b-12d3-a456-426614174003'){ %>
                                    <form id="setPemenang" action="/set-pemenang" method="post">
                                        <input type="hidden" name="pengadaan_id" value="<%= pengadaan_id %>">
                                        <input type="hidden" name="vendor_id" value="<%= bt.vendor_id %>">
                                        <input type="hidden" name="dbt_id" value="<%= bt.dbt_id %>">
                                        <input type="hidden" name="bt_id" value="<%= bt.bt_id %>">
                                        
                                        <button class="btn btn-success mt-3" type='submit' %> >Set Pemenang</button>
                                    </form>
                                    <% } %>
                                </td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>
<% result.forEach((bt, i) => { %>
    <div id="setPemenang-modal-<%= i %>" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form action="/set-pemenang" method="post">
                <input type="hidden" name="pengadaan_id" value="<%= pengadaan_id %>">
                <input type="hidden" name="vendor_id" value="<%= bt.vendor_id %>">
                <input type="hidden" name="dbt_id" value="<%= bt.dbt_id %>">
                <input type="hidden" name="bt_id" value="<%= bt.bt_id %>">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Input Data</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="harga">Harga</label>
                            <input id="harga" class="form-control currency" type="text" name="harga" value="<%= bt.pengajuan_harga || 0 %>">
                        </div>    
                        <div class="form-group">
                            <label for="harga">Durasi Pekerjaan (Day)</label>
                            <input id="harga" class="form-control qty" type="text" name="durasi" value="<%= bt.durasi_pekerjaan || 0 %>">
                        </div>    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
<% }) %>
<script>
var selectedItemBefore = [];
<% result.forEach(function(bt, i) { %>
    selectedItemBefore.push("<%= bt.vendor_id %>");
<% }) %>;  // Ensure semicolon here

$("#selVendor").autocomplete({
    minLength: 3,
    delay: 500,
    /* &filter_prod_bom_is_material=1 */
    source: function(request,response) {
        $.ajax({
            type: "POST",
            data: {nama_vendor: $("#selVendor").val(), jenis_vendor_id: $("#jenis_vendor_id").val()},
            url: "/api/getVendor",
            beforeSend: function(){
                $("#loadItem").html('<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="currentColor"><path fill-rule="evenodd" d="M12 19a7 7 0 1 0 0-14a7 7 0 0 0 0 14m0 3c5.523 0 10-4.477 10-10S17.523 2 12 2S2 6.477 2 12s4.477 10 10 10" clip-rule="evenodd" opacity="0.2"/><path d="M2 12C2 6.477 6.477 2 12 2v3a7 7 0 0 0-7 7z"/></g></svg>');
            },
            complete: function() {                
                $("#loadItem").html('');
            },
            success: function(result){
                if(result.length == 0){ $("#loadItem").html('No data'); return false; }
                selectedProd = result[0];
                var display=[];    
                $.each(result, function(i, arr){
                    var name = arr['nama_vendor'];
                    // var jenis = arr['nama_jenis_vendor'];
                    var intID = arr['id'];
                    // var bt_id = arr['bt_id'];
                    // var strKodeAlias1= arr['prod_code_alias1'];
                    if($.inArray(intID,selectedItemBefore) > -1){

                    }else{
                        display.push({label: name, value: name, id: intID });    
                    }
                    
                });                
                response(display);
            }
        });
    },
    select: function(event, ui) { 
        $("#selProd").val("")
        var itemSelected = ui.item;
        const type = $('#type').val()
        const pengadaan_id = $('#pengadaan_id').val()
        const bt_id = $('#bt_id').val()
        // INPUT KE DB
        $.ajax({
            type: "POST",
            data: { bt_id: bt_id, vendor_id: itemSelected.id, type, pengadaan_id },
            url: "/add-bidding-tender",
            beforeSend: function(){
                return confirm('Apakah Anda Yakin?');
            },
            success: function(result){
                window.location.reload();
            }
        });
        // return false;
    }
});

$("#setPemenang").submit(function(){
    return confirm('Apakah Anda Yakin?');
})
</script>
</html>